<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>webpack App</title>
    <script>window.GA_ID = "{{ htmlWebpackPlugin.options.GA_ID }}";</script>
  </head>
  <body>
    <script src="index_bundle.js"></script>
  </body>
</html>
