$primary-background: #F5F7FA;
$secondary-background: #FFFFFF;
$primary-color: #FC6280;
// $accent-color: #FEB64D;
$accent-color: #4E35DD;
$secondary-color: #4680FF;
$white: $secondary-background;

$background-color: $primary-background;
$global-nav-background: $secondary-background;
