h1 {
  &.highlighted-primary {
    &:after {
      margin-top: .25em;
      content: "";
      display: block;
      width: 60%;
      border: $accent-color;
      border-width: 0 0 3px 0;
      border-style: solid;
    }
    text-shadow: 2px 2px 4px #999999;
    font-size: 3em;
  }
}
