$theme-colors: (
  "warning": #FF9900
);

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Raleway:wght@300&display=swap');

html {
  font-size: 1rem;
}

body {
  font-family: Mulish, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, sans-serif !important;
}
}

@include media-breakpoint-up(xs) {
  html {
    font-size: .8rem;
  }
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}
